<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:include="fragments/header :: header"></header>

<div th:if="${param.checkout}" class="mt-2" style="margin-inline: 5px">
    <div class="alert alert-info">Заказ оформлен</div>
</div>

<!-- Мини-окно "Добро пожаловать" -->
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <img th:src="@{/images/meat.png}" class="card-img-top mt-4" alt="Изображение Meat Market" style="max-width: 300px; margin-inline: auto">
                <div class="card-body">
                    <h3 class="card-title text-center">Добро пожаловать в интернет-магазин Meat Market!</h3>
                    <p class="card-text">Meat Market - ваш надежный партнер в мире вкусного и качественного мяса. Мы предлагаем широкий ассортимент свежего мяса высокого качества по самым выгодным ценам. Наш интернет-магазин предоставляет удобные условия покупки и доставки, чтобы удовлетворить все ваши потребности в мясных продуктах.</p>
                    <div class="text-center">
                        <a href="/catalog" class="btn btn-primary">Перейти в каталог</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>